<?xml version="1.0"?>
<robot name="prosthesis" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- File containing all additional descriptions necessary for Gazebo simulation-->
  <!-- ===== GAZEBO TAGS ROS2 CONTROL PLUGIN ===== -->
  <!-- Needed additional link properties to simulate robot in accurate physics environment-->

  <!-- Plugin bridges Gazebo simulation to ROS2 controller manager
  by reading YAML config file (update rates, controllers to load, namespaces)
  and initializes hardware interface which exposes joint read/write methods to ros2_control -->

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find prosthesis_description)/config/prosthesis_controllers.yaml</parameters>
      <!--<controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>-->
    </plugin>
  </gazebo>

  <gazebo>
      <plugin
          filename="gz-sim-joint-state-publisher-system"
          name="gz::sim::systems::JointStatePublisher">
          <topic>joint_states</topic>
          <joint_name>joint_wrist_to_palm</joint_name>
          <joint_name>joint_index_1</joint_name>
          <joint_name>joint_index_2</joint_name>
          <joint_name>joint_index_3</joint_name>
          <joint_name>joint_index_4</joint_name>
          <joint_name>joint_middle_1</joint_name>
          <joint_name>joint_middle_2</joint_name>
          <joint_name>joint_middle_3</joint_name>
          <joint_name>joint_middle_4</joint_name>
          <joint_name>joint_ring_1</joint_name>
          <joint_name>joint_ring_2</joint_name>
          <joint_name>joint_ring_3</joint_name>
          <joint_name>joint_ring_4</joint_name>
          <joint_name>joint_little_1</joint_name>
          <joint_name>joint_little_2</joint_name>
          <joint_name>joint_little_3</joint_name>
          <joint_name>joint_little_4</joint_name>
          <joint_name>joint_thumb_1</joint_name>
          <joint_name>joint_thumb_2</joint_name>
          <joint_name>joint_thumb_3</joint_name>
      </plugin>
    </gazebo>

  <!-- Base and palm Gazebo tags -->
  
  <gazebo reference="base_link">
    <material>Gazebo/Gray</material> <!-- Visual material used in Gazebo GUI -->
    <mu1>${base_wrist_friction}</mu1> <!-- Friction coefficients -->
    <mu2>${base_wrist_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp> <!-- Contact stiffness -->
    <kd>${damping_default}</kd> <!-- Contact damping (prevents bounce, kd is approximately 2*sqrt(kp*m)-->
    <minDepth>${min_depth_default}</minDepth> <!-- Minimum depth for contact -->
    <maxVel>${max_velocity_default}</maxVel> <!-- Maximum velocity for contact -->
  </gazebo>

  <gazebo reference="wrist_link">
    <material>Gazebo/White</material>
    <mu1>${base_wrist_friction}</mu1>
    <mu2>${base_wrist_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
  </gazebo>

  <gazebo reference="palm_link">
    <material>Gazebo/Orange</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
  </gazebo>

  <!-- Index finger Gazebo tags -->
  
  <gazebo reference="link_index_1">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_index_2">
    <material>Gazebo/Red</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_index_3">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_index_4">
    <material>Gazebo/Red</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <!-- Middle finger Gazebo tags -->
  
  <gazebo reference="link_middle_1">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_middle_2">
    <material>Gazebo/Red</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_middle_3">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_middle_4">
    <material>Gazebo/Red</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <!-- Ring finger Gazebo tags -->
  
  <gazebo reference="link_ring_1">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_ring_2">
    <material>Gazebo/Red</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_ring_3">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_ring_4">
    <material>Gazebo/Red</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <!-- Little finger Gazebo tags -->
  
  <gazebo reference="link_little_1">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_little_2">
    <material>Gazebo/Red</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_little_3">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_little_4">
    <material>Gazebo/Red</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <!-- Thumb Gazebo tags -->
  
  <gazebo reference="link_thumb_1">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_thumb_2">
    <material>Gazebo/Red</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="link_thumb_3">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <!-- IMU -->
  <gazebo reference="palm_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>50</update_rate>
    </sensor>
  </gazebo>

  <!-- FSR -->

  <gazebo reference="link_index_4">
    <sensor name="index_fsr" type="contact">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <contact>
        <collision>link_index_4_collision</collision>
        <topic>prosthesis/sensor/index_fsr</topic>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="link_middle_4">
      <sensor name="middle_fsr" type="contact">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <contact>
        <collision>link_middle_4_collision</collision>
        <topic>prosthesis/sensor/middle_fsr</topic>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="link_ring_4">
    <sensor name="ring_fsr" type="contact">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <contact>
        <collision>link_ring_4_collision</collision>
        <topic>prosthesis/sensor/ring_fsr</topic>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="link_little_4">
    <sensor name="little_fsr" type="contact">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <contact>
        <collision>link_little_4_collision</collision>
        <topic>prosthesis/sensor/little_fsr</topic>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="link_thumb_3">
    <sensor name="thumb_fsr" type="contact">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <contact>
        <collision>link_thumb_3_collision</collision>
        <topic>prosthesis/sensor/thumb_fsr</topic>
      </contact>
    </sensor>
  </gazebo>

  
  <!-- Force-torque sensor -->
  <gazebo reference="joint_index_1">
    <sensor name="prosthesis/sensor/index_ft" type="force_torque">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <pose>0 0 0 0 0 0</pose>
      <topic>/index_ft</topic>
      <force_torque></force_torque>
    </sensor>
  </gazebo>

  <gazebo reference="joint_middle_1">
    <sensor name="prosthesis/sensor/middle_ft" type="force_torque">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <pose>0 0 0 0 0 0</pose>
      <topic>/middle_ft</topic>
      <force_torque></force_torque>
    </sensor>
  </gazebo>
  
  <gazebo reference="joint_ring_1">
    <sensor name="prosthesis/sensor/ring_ft" type="force_torque">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <pose>0 0 0 0 0 0</pose>
      <topic>/ring_ft</topic>
      <force_torque></force_torque>
    </sensor>
  </gazebo>

  <gazebo reference="joint_little_1">
    <sensor name="prosthesis/sensor/little_ft" type="force_torque">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <pose>0 0 0 0 0 0</pose>
      <topic>/little_ft</topic>
      <force_torque></force_torque>
    </sensor>
  </gazebo>

  <gazebo reference="joint_thumb_1">
    <sensor name="prosthesis/sensor/thumb_ft" type="force_torque">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <pose>0 0 0 0 0 0</pose>
      <topic>/thumb_ft</topic>
      <force_torque></force_torque>
    </sensor>
  </gazebo>

</robot>

