<?xml version="1.0"?>
<robot name="prosthesis" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- File containing all additional descriptions necessary for Gazebo simulation-->
  <!-- ===== GAZEBO TAGS ROS2 CONTROL PLUGIN ===== -->
  <!-- Needed additional link properties to simulate robot in accurate physics environment-->

  <!-- Plugin bridges Gazebo simulation to ROS2 controller manager
  by reading YAML config file (update rates, controllers to load, namespaces)
  and initializes hardware interface which exposes joint read/write methods to ros2_control -->

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find prosthesis_description)/config/prosthesis_controllers.yaml</parameters>
      <!--<controller_manager_prefix_node_name>controller_manager</controller_manager_prefix_node_name>-->
    </plugin>
  </gazebo>

  <gazebo>
      <plugin
          filename="gz-sim-joint-state-publisher-system"
          name="gz::sim::systems::JointStatePublisher">
          <topic>joint_states</topic>
          <joint_name>joint_wrist_to_palm</joint_name>
          <joint_name>joint_index_mcp</joint_name>
          <joint_name>joint_index_pip</joint_name>
          <joint_name>joint_middle_mcp</joint_name>
          <joint_name>joint_middle_pip</joint_name>
          <joint_name>joint_ring_mcp</joint_name>
          <joint_name>joint_ring_pip</joint_name>
          <joint_name>joint_little_mcp</joint_name>
          <joint_name>joint_little_pip</joint_name>
          <joint_name>joint_thumb_cmc</joint_name>
          <joint_name>joint_thumb_mcp</joint_name>
          <joint_name>joint_thumb_pip</joint_name>
      </plugin>
    </gazebo>

  <!-- Base and palm Gazebo tags -->
  
  <gazebo reference="base_link">
    <material>Gazebo/Gray</material> <!-- Visual material used in Gazebo GUI -->
    <mu1>${base_wrist_friction}</mu1> <!-- Friction coefficients -->
    <mu2>${base_wrist_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp> <!-- Contact stiffness -->
    <kd>${damping_default}</kd> <!-- Contact damping (prevents bounce, kd is approximately 2*sqrt(kp*m)-->
    <minDepth>${min_depth_default}</minDepth> <!-- Minimum depth for contact -->
    <maxVel>${max_velocity_default}</maxVel> <!-- Maximum velocity for contact -->
  </gazebo>

  <gazebo reference="wrist_link">
    <material>Gazebo/White</material>
    <mu1>${base_wrist_friction}</mu1>
    <mu2>${base_wrist_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
  </gazebo>

  <gazebo reference="palm_link">
    <material>Gazebo/Orange</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
  </gazebo>

  <!-- Index finger Gazebo tags -->
  
  <gazebo reference="index_proximal_link">
    <material>Gazebo/SkyBlue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="index_middle_link">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <!-- Middle finger Gazebo tags -->
  
  <gazebo reference="middle_proximal_link">
    <material>Gazebo/SkyBlue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="middle_middle_link">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <!-- Ring finger Gazebo tags -->
  
  <gazebo reference="ring_proximal_link">
    <material>Gazebo/SkyBlue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="ring_middle_link">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp> 
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <!-- Little finger Gazebo tags -->
  
  <gazebo reference="little_proximal_link">
    <material>Gazebo/SkyBlue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="little_middle_link">
    <material>Gazebo/Blue</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <!-- Thumb Gazebo tags -->
  
  <gazebo reference="thumb_metacarpal_link">
    <material>Gazebo/Green</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="thumb_proximal_link">
    <material>Gazebo/Green</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <gazebo reference="thumb_distal_link">
    <material>Gazebo/Green</material>
    <mu1>${palm_fingers_friction}</mu1>
    <mu2>${palm_fingers_friction}</mu2>
    <kp>${rigid_stiffness_default}</kp>
    <kd>${damping_default}</kd>
    <minDepth>${min_depth_default}</minDepth>
    <maxVel>${max_velocity_default}</maxVel>
  </gazebo>

  <!-- IMU -->
  <gazebo reference="palm_link">
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>50</update_rate>
    </sensor>
  </gazebo>

  <!-- FSR -->

  <gazebo reference="index_middle_fsr_link">
    <sensor name="index_fsr" type="contact">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <contact>
        <collision>index_middle_fsr_link_collision</collision>
        <topic>/index_fsr</topic>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="middle_middle_link">
      <sensor name="middle_fsr" type="contact">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <contact>
        <collision>middle_middle_link_collision</collision>
        <topic>/middle_fsr</topic>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="ring_middle_link">
    <sensor name="ring_fsr" type="contact">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <contact>
        <collision>ring_middle_link_collision</collision>
        <topic>/ring_fsr</topic>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="little_middle_link">
    <sensor name="little_fsr" type="contact">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <contact>
        <collision>little_middle_link_collision</collision>
        <topic>/little_fsr</topic>
      </contact>
    </sensor>
  </gazebo>

  <gazebo reference="thumb_distal_link">
    <sensor name="thumb_fsr" type="contact">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <contact>
        <collision>thumb_distal_link_collision</collision>
        <topic>/thumb_fsr</topic>
      </contact>
    </sensor>
  </gazebo>

  
  <!-- Force-torque sensor -->
  <gazebo reference="joint_index_mcp">
    <sensor name="index_ft" type="force_torque">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <gazebo reference="joint_middle_mcp">
    <sensor name="middle_ft" type="force_torque">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>
  
  <gazebo reference="joint_ring_mcp">
    <sensor name="ring_ft" type="force_torque">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <gazebo reference="joint_little_mcp">
    <sensor name="little_ft" type="force_torque">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

  <gazebo reference="joint_thumb_cmc">
    <sensor name="thumb_ft" type="force_torque">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <pose>0 0 0 0 0 0</pose>
    </sensor>
  </gazebo>

</robot>

